.git
.gitignore
.gitattributes
.github
.editorconfig
.env
.env.*
!.env.production.example
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
storage/pail
tests
scripts
phpunit.xml
phpstan.neon
pint.json
.phpunit.result.cache
.phpunit.cache
.prettierrc.json
.prettierignore
eslint.config.js
docker-compose.yml
docker-compose.prod.yml
Dockerfile
.dockerignore
README.md
